<html>
        <style>
                body{
                        font-size: 15pt;
                        font-family: arial;
                }
        </style>
        <body>
                <nav>
                        <a href="/index">HOME</a>
                        <a href="/dashboard">PROFILE</a>
                        <a href="/review">REVIEW</a>
                        <a href="/logout">LOGOUT</a>
                </nav>
                <h1>{{artist_name[0]}}</h1>
                <h2>About {{artist_name[0]}}</h2>
                {% for n in artist_info %}
                <div>Members: {% for n in n[0] %}<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{n}}</div>{% endfor %}</div>
                <div>Birthdays: {% for n in n[1] %}<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{n}}</div>{% endfor %}</div>
                <div>Nationalities:{% for n in n[2] %}<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{n}}</div>{% endfor %}</div>
                <div>Genre: {{n[3]}}</div>
                <div>Label: {{n[4]}}</div>
                {% endfor %}

                <h2>Albums</h2>
                <div>
                {% for n in album_data %}
                <div><a href = "/album/band/{{n[1]}}">{{n[0]}}</div>
                {% endfor %}
                </div>
        </body>
</html>
