</html>
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

<nav>
        <a href="/">LOGIN</a>
        <a href="/signup">SIGN UP</a>
</nav>

<h1>SIGN UP</h1>
<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br>

  <label for="password">Password:</label>
  <input type="text" id="password" name="password"></br>

  <label for="name">First Name:</label>
  <input type="text" id="name" name="name"><br>

  <label for="dob">Birthday (YYYY-MM-DD):</label>
  <input type="text" id="dob" name="dob"><br>

  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>
